/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
html,body{font-family:Microsoft YaHei,"宋体",Arail,Tabhoma; text-align: left;}
ul,ol{list-style: none;}
i{font-style: normal;}
img{border: 0;border: none;}
input,select,textarea,button{outline:0;}
input,button{border:none;outline: none}
textarea{resize:none; overflow-y: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-style: normal;}
a{text-decoration: none;}
a:link,a:visited,a:hover,a:active{text-decoration:none;} 
*{outline: none;line-height: 1;}
input:-webkit-autofill {
box-shadow: 0 0 0px 1000px #C7C6C6 inset !important;
-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
background-color: transparent;
background-image: none;
transition: background-color 50000s ease-in-out 0s;
}
/*==========================Reset_End===========================*/
.clearfloat:before,
.clearfloat:after {
	display: table;
	content: "";
}
.noweight{
	font-weight: normal !important; 
}
.clearfloat:after {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.verticalcenter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.verticalaround {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	
}
.verticalcenterWrap{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*伸缩流方向，如果添加表示沿Y轴方向排列，不加表示沿X轴方向排列*/
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.itemcenter {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
input,
textarea {
	/*去除默认选中字体*/
	-moz-user-select: auto;
	-ms-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;
}
.line1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.line2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.line4 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}